.girafe_container_std svg {
	max-height: none!important; /* Needed to make girafe outputs fill the screen */
	max-width: none!important;
	height:70vh!important;
}

.btn-default {
	background-image:none;
}

/* Button to go to next / previous page */
.scroll-button {
	font-size:190px; 
	width:0px;
	height:0px;
	padding:0px;
}

.scroll-button i {
	opacity:.2;
}

/* Some free space below the title */
.container-fluid h2 {
	margin-bottom:40px;
}

/* Some free space below the navigation bar */
#tabset-panel {
	margin-bottom:30px;
}

/* Adjust height of leaflet plots */
.leaflet {
	height:70vh!important;
}

/* Make all girafe objects transparent */
.girafe_container_std svg g rect:first-of-type {
	fill-opacity:0;
	stroke-width:0;
}

.ggiraph-toolbar {
	display:none;
}

.nav-tabs {
	border-bottom:1px solid #FFF;
}

.nav-tabs li.active a {
	border:1px solid #FFF;
	border-bottom-color: rgb(28, 30, 34);
}

/*
.nav-tabs > li > a:hover {
	border:1px solid #FFF;
	border-bottom-color: rgb(28, 30, 34);
}
*/

.table {
	background-color:transparent;
	border-collapse:initial;
}

.glyphicon-play {
	font-size:25px;
	margin-top:10px;
}
